@charset "utf-8";
/* CSS Document */

html {
	font-size: 100%;
	} 
	
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	} 
	

body, th, td {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	color: #0065A6;
	text-align: center;
}


table#Page {
	width: 100%;
}

h2 {
	font-size: 1.5em;
	margin: 0;
	padding: 5 0 0 0;
	margin-bottom: 10px;
}

p {
	margin-bottom: 10px;
}


#Header {
	font-size: 2.3em;
	border-bottom: #0065A6 solid 2px;
	padding-top: 60px;
	padding-bottom: 5px;
}

#Logo {
	background: url(images/pi-easy_logo_2.png) no-repeat center;
	height: 224px;
	padding-top: 40px;
}

#Footer {
	font-size: 1.3em;
	padding-top: 5px;
	margin-top: 50px;
	color: #99c1db;
}

#ZoneLogin {
	width: 350px;
	padding: 15px;
	margin: 0 auto;
	text-align: left;
	background: #EEF7FC;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

#LoginBottom {
	text-align: right;
}

input[type=submit] {
	background: -moz-linear-gradient(top, #97C7E6, #0065A6);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#97C7E6), to(#0065A6));
	border: none;
	-moz-border-radius: 10px;
	-moz-box-shadow: #CCC 1px 1px 1px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: #CCC 1px 1px 1px;
	padding: 3px 15px 3px 15px;
	margin-left: 15px;
	color: #FFF;
	font-size: 1.7em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	cursor: pointer;
}

input[type=submit]:hover {
	background-image: -moz-linear-gradient(top, #acd2eb, #3384b8);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#acd2eb), to(#3384b8));
	color: #333;
}

input[type=text], input[type=password] {
	font-size: 1.7em;
	background: #A0D6F1;
	border: 2px solid #0065A6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2px 5px 2px 5px;
	width: 95%;
	color: #333;
}

input[type=text]:hover, input[type=text]:focus, input[type=password]:hover, input[type=password]:focus {
	background: #c6e6f7;
}

label {
	display: block;
	font-size: 1.2em;
	margin-bottom: 4px;
	margin-left: 3px;
}